body {
    font-family: Arial, sans-serif;
    background-color: #a90909;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.titulo-superior {
    text-align: center; 
    font-size: 40px; 
    margin-top: 0;
    padding-top: 50px;
    position: fixed;
    top: 0; 
    color: rgb(255, 255, 255); 
    margin: 0;
}

.login-container {
    background-color: #000000;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.color-login{
    color: white;
}

input[type="text"],
input[type="password"],
button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ffffff;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

.loading-icon {
    text-align: center;
    margin-top: 20px;
}

.loading-icon img {
    width: 50px; 
}

.error-message {
    color: red;
    margin-top: 10px;
}

.error {
    border-color: red;
}
