* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
  }

  body {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background: #000000;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #a90909;
    width: 100%;
}
.logo-campeonato {
    display: flex;
    align-items: center;
}

.logo-campeonato a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: white;
}


.logo-campeonato img {
    margin-right: 10px;
}

.search-times {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
}

.search-times input[type="text"] {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
}

.select-rodada {
    padding: 10px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    background-color: #f80505;
    color: rgb(255, 255, 255);
    font-size: 1em;
}




